<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.RobertPratley.labelKey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Label Key</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>UpdateFeedURL</key>
	<string>https://github.com/RobertPratley/labelKey/LabelKey.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/RobertPratley/labelKey</string>
	<key>productReleaseNotes</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, RobertPratley, 2017</string>
	<key>NSPrincipalClass</key>
	<string>labelKey</string>
</dict>
</plist>
